{{- $name := promptString "name" "Seth Horsley" -}}

{{- $git_email := promptString "git email" "github.dvxhi@sl.isethi.com" -}}

{{- $age_key := "" -}}
{{- $age_key_file := joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" -}}
{{- if not (stat $age_key_file) -}}
{{-   $age_key = promptString "age encryption key (private key)" "" -}}
{{- end -}}

{{- $op_ssh_enabled := promptBool "Enable 1Password SSH agent" false -}}
{{- $op_ssh_socket := "" -}}
{{- if $op_ssh_enabled -}}
{{-   $op_ssh_socket = promptString "1Password SSH socket path" "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
{{- end -}}

progress = true

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    # recipient = "age1qdsdpzhafts3l3sxnma98z5rprgtv246cqevdsw9gzggmaajauhsx44f8x"
    recipient = "age1v5ku9kd3fh9jjm8x3kr0lqcukelnr6hrrsl9m67qt4e8g8g8zy2q3q65m0"

[data]
    name = {{ $name | quote }}
    git_email = {{ $git_email | quote }}
    age_key = {{ $age_key | quote }}
    op_ssh_enabled = {{ $op_ssh_enabled }}
    op_ssh_socket = {{ $op_ssh_socket | quote }}

[edit]
    command = "nvim"
    # args = ["--wait"]

[warnings]
    configFileTemplateHasChanged = false

# [git]
#     autoCommit = true
#     autoPush = true

# [scriptEnv]
#     EXAMPLE = "value"
