{{- $name := promptString "name" "Seth Horsley" -}}

{{- $git_email := promptString "git email" "github.dvxhi@sl.isethi.com" -}}

{{- $age_key := "" -}}
{{- $age_key_file := joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" -}}
{{- if not (stat $age_key_file) -}}
{{-   $age_key = promptString "age encryption key (private key)" "" -}}
{{- end -}}

progress = true

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    # recipient = "age1qdsdpzhafts3l3sxnma98z5rprgtv246cqevdsw9gzggmaajauhsx44f8x"
    recipient = "age1v5ku9kd3fh9jjm8x3kr0lqcukelnr6hrrsl9m67qt4e8g8g8zy2q3q65m0"

[data]
    name = {{ $name | quote }}
    git_email = {{ $git_email | quote }}
    age_key = {{ $age_key | quote }}

[edit]
    command = "nvim"
    # args = ["--wait"]

[warnings]
    configFileTemplateHasChanged = false

# [git]
#     autoCommit = true
#     autoPush = true

# [scriptEnv]
#     EXAMPLE = "value"
