#!/bin/bash

echo "==> 📜 Before install - Setup 2"

brew bundle --file=/dev/stdin <<EOF
{{ range .taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .essential.packages -}}
brew {{ . | quote }}
{{ end -}}
{{ range .essential.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
