#!/bin/bash

echo "==> 📜 After install - Setup 1"

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .general.packages -}}
brew {{ . | quote }}
{{ end -}}
{{ range .general.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

# set
defaults write org.hammerspoon.Hammerspoon MJConfigFile "~/.config/hammerspoon/init.lua"

if [[ ! -f ~/.local/bin/mise ]]; then
  curl https://mise.run | sh
  mkdir -p ~/.zsh/functions/Completion
  mise completion zsh >~/.zsh/functions/Completion/_mise
fi
# eval "$(~/.local/bin/mise activate zsh)"
