[user]
  name = Seth Horsley
  email = github.dvxhi@sl.isethi.com
       signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDaHWt7Y90od1qT3tPUdOPgRgBMjNNogkvX9Eh/J5x4hnuzCofivPPUYw1VwJQOPqv7VE6cAfSfxWDakP9hZa5huUMbQka7rPxFCKh1r1lIwh3FOdgyTY3CroEaC+hz6YctpYmR9vJlT32ATs3zyXdedDxjrtstQsBFBI8es3DjJFw0lMCc3TFm9wrIojp6Oymm7aTLfT6yR99eyDnd4jpUd3nhTC0x8HYf18c4ylTjpKIrvCAAVZ7AePuyvd5s9V4M3iIAWB6GsE5/OyiCadSHO83cGJlAMDcgpAUMBWo9m1QxO3ai64lW8y+UHoDm9UNznYg1P7as+c2289F4JexL

[color]
  ui = auto

[core]
  editor = nvim
  ignoreCase = false
  fileMode = false
  whitespace = trailing-space,space-before-tab
  autocrlf = input
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  side-by-side = true

[init]
  defaultBranch = main

[branch]
  autoSetupRebase = always

[merge]
  conflictstyle = zdiff3

[rebase]
  autosquash = true
  autostash = true

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[help]
  autocorrect = prompt

[alias]
  # https://jordanelver.co.uk/blog/2020/06/04/fixing-commits-with-git-commit-fixup-and-git-rebase-autosquash/
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  # https://itenium.be/blog/dev-setup/git-assume-unchanged/
  hide = update-index --skip-worktree
  unhide = update-index --no-skip-worktree
  hidden = "!git ls-files -v | grep ^S | cut -c 3-"
  # https://elijahmanor.com/byte/git-recent-branches
  recent = "!git branch --sort=-committerdate | fzf --header Checkout | xargs git checkout"
  fomo = "!f() { git fetch origin \"$1\" && git rebase origin/\"$1\"; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
